<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title>Тестовое задание</mat-card-title>
            <mat-card-subtitle>Регистрация аккаунта</mat-card-subtitle>
            <mat-card-content>
                <div *ngIf="!isSecondStepActivated">
                    <mat-form-field class="full-width">
                        <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                            type="email">

                        <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                            Пожалуйста, введите Email
                        </mat-error>
                        <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                            Email обязателен
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input id="passwordInput" matInput placeholder="Пароль" formControlName="password"
                            type="password" autocomplete="current-password">
                        <mat-error id="requiredPasswordError"
                            *ngIf="loginForm.controls['password'].hasError('required')">
                            Пароль обязателен
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input id="passwordInput" matInput placeholder="Подтвердите пароль"
                            formControlName="repeatPassword" type="password" autocomplete="current-password">
                        <mat-error id="requiredPasswordError"
                            *ngIf="loginForm.controls['repeatPassword'].hasError('required')">
                            Повторите пароль
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="passwordMatchError">
                        Пароли не совпадают
                    </div>
                </div>
                <div *ngIf="isSecondStepActivated">
                    <mat-form-field class="full-width">
                        <mat-label>Страна</mat-label>
                        <mat-select (selectionChange)="choseCountry($event)" formControlName="countryId">
                            <mat-option *ngFor="let country of countries" [value]="country.id">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Регион</mat-label>
                        <mat-select formControlName="provinceId">
                            <mat-option *ngFor="let province of currentProvinces" [value]="province.id">
                                {{province.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </mat-card-content>

            <mat-card-actions *ngIf="!isSecondStepActivated" class="login-actions">
                <button mat-raised-button id="login" color="primary"
                    [disabled]="passwordMatchError || loginForm.controls['repeatPassword'].hasError('required')"
                    (click)="nextStep()">Перейти ко 2 шагу</button>
            </mat-card-actions>

            <mat-card-actions *ngIf="isSecondStepActivated" class="login-actions">
                <button mat-raised-button id="register" color="primary" [disabled]="loginForm.invalid || loading"
                    (click)="register()">Зарегестрироваться</button>
            </mat-card-actions>
        </mat-card>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
</div>